<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="attraction">
            <h2><span>Attraction</span> {{attraction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Sygic Travel Id</span></dt>
                <dd>
                    <span>{{attraction.sygicTravelId}}</span>
                </dd>
                <dt><span>Rating</span></dt>
                <dd>
                    <span>{{attraction.rating}}</span>
                </dd>
                <dt><span>Latitude</span></dt>
                <dd>
                    <span>{{attraction.latitude}}</span>
                </dd>
                <dt><span>Longitude</span></dt>
                <dd>
                    <span>{{attraction.longitude}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{attraction.name}}</span>
                </dd>
                <dt><span>Marker</span></dt>
                <dd>
                    <span>{{attraction.marker}}</span>
                </dd>
                <dt><span>Perex</span></dt>
                <dd>
                    <span>{{attraction.perex}}</span>
                </dd>
                <dt><span>Thumbnail Url</span></dt>
                <dd>
                    <span>{{attraction.thumbnailUrl}}</span>
                </dd>
                <dt><span>Categories</span></dt>
                <dd>
                    <span>{{attraction.categories}}</span>
                </dd>
                <dt><span>Ds Summary</span></dt>
                <dd>
                    <span>{{attraction.dsSummary}}</span>
                </dd>
                <dt><span>Ds Icon</span></dt>
                <dd>
                    <span>{{attraction.dsIcon}}</span>
                </dd>
                <dt><span>Ds Apparent Temperature High</span></dt>
                <dd>
                    <span>{{attraction.dsApparentTemperatureHigh}}</span>
                </dd>
                <dt><span>Ds Apparent Temperature Low</span></dt>
                <dd>
                    <span>{{attraction.dsApparentTemperatureLow}}</span>
                </dd>
                <dt><span>Ds Dew Point</span></dt>
                <dd>
                    <span>{{attraction.dsDewPoint}}</span>
                </dd>
                <dt><span>Ds Humidity</span></dt>
                <dd>
                    <span>{{attraction.dsHumidity}}</span>
                </dd>
                <dt><span>Ds Pressure</span></dt>
                <dd>
                    <span>{{attraction.dsPressure}}</span>
                </dd>
                <dt><span>Ds Wind Speed</span></dt>
                <dd>
                    <span>{{attraction.dsWindSpeed}}</span>
                </dd>
                <dt><span>Ds Wind Gust</span></dt>
                <dd>
                    <span>{{attraction.dsWindGust}}</span>
                </dd>
                <dt><span>Ds Cloud Cover</span></dt>
                <dd>
                    <span>{{attraction.dsCloudCover}}</span>
                </dd>
                <dt><span>Ds Visibility</span></dt>
                <dd>
                    <span>{{attraction.dsVisibility}}</span>
                </dd>
                <dt><span>Adult Price</span></dt>
                <dd>
                    <span>{{attraction.adultPrice}}</span>
                </dd>
                <dt><span>Child Price</span></dt>
                <dd>
                    <span>{{attraction.childPrice}}</span>
                </dd>
                <dt><span>Accessible</span></dt>
                <dd>
                    <span>{{attraction.accessible}}</span>
                </dd>
                <dt><span>Facilities</span></dt>
                <dd>
                    <span>{{attraction.facilities}}</span>
                </dd>
                <dt><span>Open Time</span></dt>
                <dd>
                    <span>{{attraction.openTime}}</span>
                </dd>
                <dt><span>Close Time</span></dt>
                <dd>
                    <span>{{attraction.closeTime}}</span>
                </dd>
                <dt><span>Group Types</span></dt>
                <dd>
                    <span *ngFor="let groupTypes of attraction.groupTypes; let last = last">
                        <a [routerLink]="['/attraction-group-type', groupTypes?.id, 'view' ]">{{groupTypes.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Event Types</span></dt>
                <dd>
                    <span *ngFor="let eventTypes of attraction.eventTypes; let last = last">
                        <a [routerLink]="['/attraction-event-type', eventTypes?.id, 'view' ]">{{eventTypes.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/attraction', attraction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
