<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-attraction-heading">Create or edit a Attraction</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!attraction.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="attraction.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sygicTravelId">Sygic Travel Id</label>
                    <input type="text" class="form-control" name="sygicTravelId" id="field_sygicTravelId"
                        [(ngModel)]="attraction.sygicTravelId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rating">Rating</label>
                    <input type="number" class="form-control" name="rating" id="field_rating"
                        [(ngModel)]="attraction.rating" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_latitude">Latitude</label>
                    <input type="number" class="form-control" name="latitude" id="field_latitude"
                        [(ngModel)]="attraction.latitude" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_longitude">Longitude</label>
                    <input type="number" class="form-control" name="longitude" id="field_longitude"
                        [(ngModel)]="attraction.longitude" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="attraction.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_marker">Marker</label>
                    <input type="text" class="form-control" name="marker" id="field_marker"
                        [(ngModel)]="attraction.marker" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_perex">Perex</label>
                    <textarea class="form-control" name="perex" id="field_perex"
                        [(ngModel)]="attraction.perex" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_thumbnailUrl">Thumbnail Url</label>
                    <input type="text" class="form-control" name="thumbnailUrl" id="field_thumbnailUrl"
                        [(ngModel)]="attraction.thumbnailUrl" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_categories">Categories</label>
                    <input type="text" class="form-control" name="categories" id="field_categories"
                        [(ngModel)]="attraction.categories" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dsSummary">Ds Summary</label>
                    <textarea class="form-control" name="dsSummary" id="field_dsSummary"
                        [(ngModel)]="attraction.dsSummary" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dsIcon">Ds Icon</label>
                    <input type="text" class="form-control" name="dsIcon" id="field_dsIcon"
                        [(ngModel)]="attraction.dsIcon" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dsApparentTemperatureHigh">Ds Apparent Temperature High</label>
                    <input type="number" class="form-control" name="dsApparentTemperatureHigh" id="field_dsApparentTemperatureHigh"
                        [(ngModel)]="attraction.dsApparentTemperatureHigh" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dsApparentTemperatureLow">Ds Apparent Temperature Low</label>
                    <input type="number" class="form-control" name="dsApparentTemperatureLow" id="field_dsApparentTemperatureLow"
                        [(ngModel)]="attraction.dsApparentTemperatureLow" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dsDewPoint">Ds Dew Point</label>
                    <input type="number" class="form-control" name="dsDewPoint" id="field_dsDewPoint"
                        [(ngModel)]="attraction.dsDewPoint" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dsHumidity">Ds Humidity</label>
                    <input type="number" class="form-control" name="dsHumidity" id="field_dsHumidity"
                        [(ngModel)]="attraction.dsHumidity" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dsPressure">Ds Pressure</label>
                    <input type="number" class="form-control" name="dsPressure" id="field_dsPressure"
                        [(ngModel)]="attraction.dsPressure" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dsWindSpeed">Ds Wind Speed</label>
                    <input type="number" class="form-control" name="dsWindSpeed" id="field_dsWindSpeed"
                        [(ngModel)]="attraction.dsWindSpeed" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dsWindGust">Ds Wind Gust</label>
                    <input type="number" class="form-control" name="dsWindGust" id="field_dsWindGust"
                        [(ngModel)]="attraction.dsWindGust" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dsCloudCover">Ds Cloud Cover</label>
                    <input type="number" class="form-control" name="dsCloudCover" id="field_dsCloudCover"
                        [(ngModel)]="attraction.dsCloudCover" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dsVisibility">Ds Visibility</label>
                    <input type="number" class="form-control" name="dsVisibility" id="field_dsVisibility"
                        [(ngModel)]="attraction.dsVisibility" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_adultPrice">Adult Price</label>
                    <input type="number" class="form-control" name="adultPrice" id="field_adultPrice"
                        [(ngModel)]="attraction.adultPrice" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_childPrice">Child Price</label>
                    <input type="number" class="form-control" name="childPrice" id="field_childPrice"
                        [(ngModel)]="attraction.childPrice" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_accessible">Accessible</label>
                    <input type="checkbox" class="form-control" name="accessible" id="field_accessible"
                        [(ngModel)]="attraction.accessible" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_facilities">Facilities</label>
                    <input type="checkbox" class="form-control" name="facilities" id="field_facilities"
                        [(ngModel)]="attraction.facilities" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_openTime">Open Time</label>
                    <div class="d-flex">
                        <input id="field_openTime" type="datetime-local" class="form-control" name="openTime" [(ngModel)]="openTime"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_closeTime">Close Time</label>
                    <div class="d-flex">
                        <input id="field_closeTime" type="datetime-local" class="form-control" name="closeTime" [(ngModel)]="closeTime"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
