<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="attractionPurchase">
            <h2><span>Attraction Purchase</span> {{attractionPurchase.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Traveling</span></dt>
                <dd>
                    <span>{{attractionPurchase.traveling}}</span>
                </dd>
                <dt><span>Activity</span></dt>
                <dd>
                    <span>{{attractionPurchase.activity}}</span>
                </dd>
                <dt><span>User Distance</span></dt>
                <dd>
                    <span>{{attractionPurchase.userDistance}}</span>
                </dd>
                <dt><span>User Latitude</span></dt>
                <dd>
                    <span>{{attractionPurchase.userLatitude}}</span>
                </dd>
                <dt><span>User Longitude</span></dt>
                <dd>
                    <span>{{attractionPurchase.userLongitude}}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{attractionPurchase.createdAt}}</span>
                </dd>
                <dt><span>Action Taken At</span></dt>
                <dd>
                    <span>{{attractionPurchase.actionTakenAt}}</span>
                </dd>
                <dt><span>Action Taken</span></dt>
                <dd>
                    <span>{{attractionPurchase.actionTaken}}</span>
                </dd>
                <dt><span>Attraction</span></dt>
                <dd>
                    <div *ngIf="attractionPurchase.attraction">
                        <a [routerLink]="['/attraction', attractionPurchase.attraction?.id, 'view']">{{attractionPurchase.attraction?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/attraction-purchase', attractionPurchase.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
