<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-attraction-purchase-heading">Create or edit a Attraction Purchase</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!attractionPurchase.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="attractionPurchase.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_traveling">Traveling</label>
                    <input type="text" class="form-control" name="traveling" id="field_traveling"
                        [(ngModel)]="attractionPurchase.traveling" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_activity">Activity</label>
                    <input type="text" class="form-control" name="activity" id="field_activity"
                        [(ngModel)]="attractionPurchase.activity" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_userDistance">User Distance</label>
                    <input type="number" class="form-control" name="userDistance" id="field_userDistance"
                        [(ngModel)]="attractionPurchase.userDistance" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_userLatitude">User Latitude</label>
                    <input type="number" class="form-control" name="userLatitude" id="field_userLatitude"
                        [(ngModel)]="attractionPurchase.userLatitude" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_userLongitude">User Longitude</label>
                    <input type="number" class="form-control" name="userLongitude" id="field_userLongitude"
                        [(ngModel)]="attractionPurchase.userLongitude" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="createdAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_actionTakenAt">Action Taken At</label>
                    <div class="d-flex">
                        <input id="field_actionTakenAt" type="datetime-local" class="form-control" name="actionTakenAt" [(ngModel)]="actionTakenAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_actionTaken">Action Taken</label>
                    <input type="checkbox" class="form-control" name="actionTaken" id="field_actionTaken"
                        [(ngModel)]="attractionPurchase.actionTaken" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_attraction">Attraction</label>
                    <select class="form-control" id="field_attraction" name="attraction" [(ngModel)]="attractionPurchase.attraction" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="attractionOption.id === attractionPurchase.attraction?.id ? attractionPurchase.attraction : attractionOption" *ngFor="let attractionOption of attractions; trackBy: trackAttractionById">{{attractionOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
