<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-attraction-purchase-heading">Create or edit a Attraction Purchase</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!attractionPurchase.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="attractionPurchase.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_userLatitude">User Latitude</label>
                    <input type="number" class="form-control" name="userLatitude" id="field_userLatitude"
                           [(ngModel)]="attractionPurchase.userLatitude"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_userLongitude">User Longitude</label>
                    <input type="number" class="form-control" name="userLongitude" id="field_userLongitude"
                           [(ngModel)]="attractionPurchase.userLongitude"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_userDistance">User Distance</label>
                    <input type="number" class="form-control" name="userDistance" id="field_userDistance"
                        [(ngModel)]="attractionPurchase.userDistance" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_purchased">Purchased</label>
                    <input type="checkbox" class="form-control" name="purchased" id="field_purchased"
                        [(ngModel)]="attractionPurchase.purchased" />
                </div>

                <div class="form-group">
                    <label for="field_groupTypes">Group Types</label>
                    <select class="form-control" id="field_groupTypes" multiple name="groupTypes" [(ngModel)]="attractionPurchase.groupTypes">
                        <option [ngValue]="getSelected(attractionPurchase.groupTypes, attractionGroupTypeOption)" *ngFor="let attractionGroupTypeOption of attractiongrouptypes; trackBy: trackAttractionGroupTypeById">{{attractionGroupTypeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_eventTypes">Event Types</label>
                    <select class="form-control" id="field_eventTypes" multiple name="eventTypes" [(ngModel)]="attractionPurchase.eventTypes">
                        <option [ngValue]="getSelected(attractionPurchase.eventTypes, attractionEventTypeOption)" *ngFor="let attractionEventTypeOption of attractioneventtypes; trackBy: trackAttractionEventTypeById">{{attractionEventTypeOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_attraction">Attraction</label>
                    <select class="form-control" id="field_attraction" name="attraction"
                            [(ngModel)]="attractionPurchase.attraction">
                        <option [ngValue]="null"></option>
                        <option
                            [ngValue]="attractionOption.id === attractionPurchase.attraction?.id ? attractionPurchase.attraction : attractionOption"
                            *ngFor="let attractionOption of attractions; trackBy: trackAttractionById">
                            {{attractionOption.id}}
                        </option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
